Repository joelbarbeiro/WayPinPoint, pull requests merged in 2024-12, with the labels that each got.

#30 modified: WebApp/yii-application/console/controllers/RbacControlle…
  WebApp/yii-application/console/controllers/RbacController.php
  WebApp/yii-application/console/migrations/m241103_150521_create_userextra_table.php
  WebApp/yii-application/console/migrations/m241118_214239_seed_user_userextra_localsellpoint_table.php
Labels: migrations

#33 Web/12 crud calendar
  WebApp/yii-application/backend/controllers/ActivityController.php
  WebApp/yii-application/backend/controllers/RoleRegisterController.php
  WebApp/yii-application/backend/views/activity/_form.php
  WebApp/yii-application/backend/views/activity/create.php
  WebApp/yii-application/backend/views/activity/index.php
  WebApp/yii-application/backend/views/activity/update.php
  WebApp/yii-application/backend/views/activity/view.php
  WebApp/yii-application/backend/views/layouts/sidebar.php
  WebApp/yii-application/backend/web/img/activity/12/BrmfyPNe61RZqhJS.jpg
  WebApp/yii-application/common/models/Activity.php
  WebApp/yii-application/frontend/web/css/site.css
  WebApp/yii-application/frontend/web/img/activity/12/BrmfyPNe61RZqhJS.jpg
Labels: enhancement, feature

#34 #63 create api and endpoints
  WebApp/yii-application/backend/config/main.php
  WebApp/yii-application/backend/modules/api/ModuleAPI.php
  WebApp/yii-application/backend/modules/api/controllers/ReviewController.php
  WebApp/yii-application/backend/modules/api/controllers/UserController.php
  WebApp/yii-application/backend/modules/api/views/default/index.php
  WebApp/yii-application/common/models/Activity.php
  WebApp/yii-application/common/models/User.php
  WebApp/yii-application/common/models/UserExtra.php
  WebApp/yii-application/console/migrations/m241119_142306_create_review_table.php
  WebApp/yii-application/frontend/controllers/ReviewController.php
  WebApp/yii-application/frontend/models/Review.php
  WebApp/yii-application/frontend/views/layouts/main.php
  WebApp/yii-application/frontend/views/review/index.php
  WebApp/yii-application/frontend/web/css/site.css
  WebApp/yii-application/frontend/web/css/style.css
  WebApp/yii-application/frontend/web/img/logo/waypinpointFRONT.png
Labels: feature, API

#37 #26 register api
  MobileApp/app/build.gradle.kts
  MobileApp/app/src/main/AndroidManifest.xml
  MobileApp/app/src/main/java/Model/Route.java
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/Model/User.java
  MobileApp/app/src/main/java/Model/UserDbHelper.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MenuMainActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/RegisterActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/UserJsonParser.java
  MobileApp/app/src/main/res/drawable/img_default_activity.jpg
  MobileApp/app/src/main/res/layout/activity_register.xml
  MobileApp/app/src/main/res/layout/item_list_activity.xml
  MobileApp/app/src/main/res/values/strings.xml
  WebApp/yii-application/common/models/Activity.php
  WebApp/yii-application/console/migrations/m241118_214239_seed_user_userextra_localsellpoint_table.php
Labels: enhancement, feature, API

#40 #66 - Cart API Endpoints
  WebApp/yii-application/backend/config/main.php
  WebApp/yii-application/backend/modules/api/controllers/CartController.php
  WebApp/yii-application/common/models/Activity.php
  WebApp/yii-application/console/migrations/m241027_181850_create_calendar_table.php
  WebApp/yii-application/frontend/controllers/CartController.php
Labels: API

#41 Web/63 create api and endpoints
  WebApp/yii-application/backend/config/main.php
  WebApp/yii-application/backend/controllers/ActivityController.php
  WebApp/yii-application/backend/controllers/SaleController.php
  WebApp/yii-application/backend/modules/api/controllers/ActivityController.php
  WebApp/yii-application/backend/views/activity/index.php
  WebApp/yii-application/backend/views/activity/view.php
  WebApp/yii-application/backend/views/layouts/sidebar.php
  WebApp/yii-application/backend/views/sale/index.php
  WebApp/yii-application/common/models/Activity.php
  WebApp/yii-application/common/models/Sale.php
  WebApp/yii-application/common/models/User.php
  WebApp/yii-application/console/migrations/m241118_214239_seed_user_userextra_localsellpoint_table.php
Labels: enhancement, feature, migrations, API

#42 #26 - Register Through API
  MobileApp/app/src/main/java/Listeners/UserListener.java
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/Model/User.java
  MobileApp/app/src/main/java/Model/UserDbHelper.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/LoginActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/RegisterActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/StatusJsonParser.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/UserJsonParser.java
  WebApp/yii-application/backend/config/main.php
  WebApp/yii-application/backend/models/RoleRegisterForm.php
  WebApp/yii-application/backend/modules/api/controllers/UserController.php
Labels: enhancement, feature, API

#43 #21 - Sale - Salesperson
  WebApp/yii-application/backend/controllers/ActivityController.php
  WebApp/yii-application/backend/controllers/SaleController.php
  WebApp/yii-application/backend/views/activity/index.php
  WebApp/yii-application/backend/views/sale/view.php
  WebApp/yii-application/common/models/Activity.php
  WebApp/yii-application/common/models/Calendar.php
  WebApp/yii-application/common/models/Date.php
  WebApp/yii-application/common/models/Sale.php
  WebApp/yii-application/common/models/Time.php
  WebApp/yii-application/frontend/controllers/CartController.php
  WebApp/yii-application/frontend/views/activity/index.php
  WebApp/yii-application/frontend/views/cart/_form.php
  WebApp/yii-application/frontend/views/cart/create.php
Labels: enhancement

#45 #26 register api
  MobileApp/app/src/main/java/Listeners/LoginListener.java
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/Model/User.java
  MobileApp/app/src/main/java/Model/UserDbHelper.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/LoginActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/RegisterActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/UserJsonParser.java
  MobileApp/app/src/main/res/drawable/waypinpointapplogo.png
  MobileApp/app/src/main/res/drawable/waypinpointfront.png
  MobileApp/app/src/main/res/layout/activity_login.xml
  MobileApp/app/src/main/res/layout/app_bar_main.xml
  MobileApp/app/src/main/res/layout/nav_header_main.xml
  MobileApp/app/src/main/res/values/colors.xml
  MobileApp/app/src/main/res/values/strings.xml
  MobileApp/app/src/main/res/values/themes.xml
  WebApp/yii-application/backend/modules/api/controllers/UserController.php
Labels: feature, API

#46 Mobile/43 api dns config
  MobileApp/app/src/main/AndroidManifest.xml
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ApiHostnameSetupActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/LoginActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/RegisterActivity.java
  MobileApp/app/src/main/res/layout/activity_api_hostname_setup.xml
  MobileApp/app/src/main/res/layout/activity_login.xml
  MobileApp/app/src/main/res/values/strings.xml
Labels: enhancement, feature, API

#48 - Fixed issue on getting host on RegisterActivity
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/RegisterActivity.java
Labels: feature

#49 #26 register api
  MobileApp/app/src/main/AndroidManifest.xml
  MobileApp/app/src/main/java/Listeners/UserListener.java
  MobileApp/app/src/main/java/Listeners/UsersListener.java
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/Model/UserDbHelper.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/LoginActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MenuMainActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MyProfileActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MyProfileFragment.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/RegisterActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/UserJsonParser.java
  MobileApp/app/src/main/res/layout/activity_my_profile.xml
  MobileApp/app/src/main/res/layout/app_bar_main.xml
  MobileApp/app/src/main/res/values/strings.xml
  WebApp/yii-application/backend/modules/api/controllers/UserController.php
Labels: enhancement, feature, API

#50 #21 - Sales Salesperson
  WebApp/yii-application/console/migrations/m241118_214239_seed_user_userextra_localsellpoint_table.php
Labels: bug

#51 - remove back button
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ApiHostnameSetupActivity.java
  MobileApp/app/src/main/res/layout/activity_api_hostname_setup.xml
Labels: enhancement

#52 #68: CRUD Users
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/LoginActivity.java
  MobileApp/app/src/main/res/layout/activity_login.xml
  MobileApp/app/src/main/res/values/strings.xml
  WebApp/yii-application/backend/modules/api/controllers/UserController.php
Labels: enhancement

#53 - Fixed issues
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ApiHostnameSetupActivity.java
  MobileApp/app/src/main/res/layout/activity_api_hostname_setup.xml
Labels: enhancement

#56 #68 crud users
  MobileApp/app/src/main/AndroidManifest.xml
  MobileApp/app/src/main/java/Listeners/UsersListener.java
  MobileApp/app/src/main/java/Model/Route.java
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/Model/UserDbHelper.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/LoginActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MenuMainActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MyProfileActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/RegisterActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/UserJsonParser.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/Utilities.java
  MobileApp/app/src/main/res/drawable-anydpi/ic_delete.xml
  MobileApp/app/src/main/res/drawable-hdpi/ic_delete.png
  MobileApp/app/src/main/res/drawable-mdpi/ic_delete.png
  MobileApp/app/src/main/res/drawable-xhdpi/ic_delete.png
  MobileApp/app/src/main/res/drawable-xxhdpi/ic_delete.png
  MobileApp/app/src/main/res/layout/activity_my_profile.xml
  MobileApp/app/src/main/res/layout/nav_header_main.xml
  MobileApp/app/src/main/res/values/strings.xml
  WebApp/yii-application/backend/config/main.php
  WebApp/yii-application/backend/modules/api/controllers/UserController.php
Labels: enhancement, feature

#57 Mobile/70 crud activity
  MobileApp/app/build.gradle.kts
  MobileApp/app/src/main/AndroidManifest.xml
  MobileApp/app/src/main/java/Listeners/ActivitiesListener.java
  MobileApp/app/src/main/java/Listeners/ActivityListener.java
  MobileApp/app/src/main/java/Model/Activity.java
  MobileApp/app/src/main/java/Model/ActivityDbHelper.java
  MobileApp/app/src/main/java/Model/Calendar.java
  MobileApp/app/src/main/java/Model/Category.java
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/Model/UserDbHelper.java
  MobileApp/app/src/main/java/adaptors/ActivitiesListAdaptor.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ActivityDetailsActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ApiHostnameSetupActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ListActivitiesFragment.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/LoginActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MainActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MenuMainActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/ActivityJsonParser.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/Utilities.java
  MobileApp/app/src/main/res/drawable-anydpi/ic_action_add.xml
  MobileApp/app/src/main/res/drawable-hdpi/ic_action_add.png
  MobileApp/app/src/main/res/drawable-mdpi/ic_action_add.png
  MobileApp/app/src/main/res/drawable-xhdpi/ic_action_add.png
  MobileApp/app/src/main/res/drawable-xxhdpi/ic_action_add.png
  MobileApp/app/src/main/res/drawable/ic_search_black_24dp.xml
  MobileApp/app/src/main/res/layout/activity_details.xml
  MobileApp/app/src/main/res/layout/activity_main.xml
  MobileApp/app/src/main/res/layout/fragment_list_activities.xml
  MobileApp/app/src/main/res/layout/item_list_activity.xml
  MobileApp/app/src/main/res/menu/menu_delete.xml
  MobileApp/app/src/main/res/menu/menu_search.xml
  MobileApp/app/src/main/res/values/colors.xml
  MobileApp/app/src/main/res/values/strings.xml
  MobileApp/gradle/libs.versions.toml
  WebApp/yii-application/backend/config/main.php
Labels: enhancement, feature, API

#58 #68 crud users
  MobileApp/app/build.gradle.kts
  MobileApp/app/src/main/AndroidManifest.xml
  MobileApp/app/src/main/java/Model/Activity.java
  MobileApp/app/src/main/java/Model/ActivityDbHelper.java
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/Model/User.java
  MobileApp/app/src/main/java/adaptors/ActivitiesListAdaptor.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ApiHostnameSetupActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ListActivitiesFragment.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/LoginActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MenuMainActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/RegisterActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/ImageSender.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/Utilities.java
  MobileApp/app/src/main/res/drawable/ic_default_profile.png
  MobileApp/app/src/main/res/layout/nav_header_main.xml
  MobileApp/app/src/main/res/xml/file_paths.xml
  WebApp/yii-application/backend/modules/api/controllers/UserController.php
Labels: enhancement, feature, API

#60 #73 crud reviews
  MobileApp/app/src/main/AndroidManifest.xml
  MobileApp/app/src/main/java/Model/Review.java
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/Model/WaypinpointDbHelper.java
  MobileApp/app/src/main/java/adaptors/ReviewListAdapter.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ListReviewsFragment.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ReviewDetailsActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/ReviewJsonParser.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/Utilities.java
  MobileApp/app/src/main/res/drawable-anydpi/ic_dialog_remove.xml
  MobileApp/app/src/main/res/drawable-anydpi/ic_save.xml
  MobileApp/app/src/main/res/drawable-hdpi/ic_dialog_remove.png
  MobileApp/app/src/main/res/drawable-hdpi/ic_save.png
  MobileApp/app/src/main/res/drawable-mdpi/ic_dialog_remove.png
  MobileApp/app/src/main/res/drawable-mdpi/ic_save.png
  MobileApp/app/src/main/res/drawable-xhdpi/ic_dialog_remove.png
  MobileApp/app/src/main/res/drawable-xhdpi/ic_save.png
  MobileApp/app/src/main/res/drawable-xxhdpi/ic_dialog_remove.png
  MobileApp/app/src/main/res/drawable-xxhdpi/ic_save.png
  MobileApp/app/src/main/res/layout/activity_review_details.xml
  MobileApp/app/src/main/res/values/strings.xml
  WebApp/yii-application/backend/config/main.php
  WebApp/yii-application/backend/modules/api/controllers/ReviewController.php
  WebApp/yii-application/console/migrations/m241119_142306_create_review_table.php
Labels: enhancement, feature, API

#61 Mobile/70 crud activity
  MobileApp/app/src/main/java/Listeners/ActivitiesListener.java
  MobileApp/app/src/main/java/Model/Activity.java
  MobileApp/app/src/main/java/Model/Calendar.java
  MobileApp/app/src/main/java/Model/CalendarTime.java
  MobileApp/app/src/main/java/Model/Category.java
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/Model/WaypinpointDbHelper.java
  MobileApp/app/src/main/java/adaptors/ActivitiesListAdaptor.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ActivityDetailsActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ListActivitiesFragment.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/ActivityJsonParser.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/CalendarJsonParser.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/CategoryJsonParser.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/TimeJsonParser.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/Utilities.java
  MobileApp/app/src/main/res/layout/activity_details.xml
  MobileApp/app/src/main/res/values/strings.xml
  WebApp/yii-application/backend/config/main.php
  WebApp/yii-application/backend/modules/api/controllers/ActivityController.php
  WebApp/yii-application/common/models/Calendar.php
  WebApp/yii-application/common/models/Category.php
  WebApp/yii-application/common/models/Time.php
Labels: enhancement, feature, API

#62 #69 Crud Cart
  MobileApp/app/src/main/AndroidManifest.xml
  MobileApp/app/src/main/java/Listeners/CartListener.java
  MobileApp/app/src/main/java/Model/Cart.java
  MobileApp/app/src/main/java/Model/CartDbHelper.java
  MobileApp/app/src/main/java/Model/Route.java
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/Model/UserDbHelper.java
  MobileApp/app/src/main/java/Model/WaypinpointDbHelper.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ActivityDetailsActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/Adapters/CartAdapter.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/CartActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/CartDetailsActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/CartFragment.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/LoginActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MainActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MenuMainActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MyProfileActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/RegisterActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/CartJsonParser.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/Utilities.java
  MobileApp/app/src/main/res/drawable/ic_cart.xml
  MobileApp/app/src/main/res/drawable/ic_cart_checkout.xml
  MobileApp/app/src/main/res/drawable/ic_cross.xml
  MobileApp/app/src/main/res/drawable/ic_delete_white.xml
  MobileApp/app/src/main/res/layout/activity_cart.xml
  MobileApp/app/src/main/res/layout/activity_main.xml
  MobileApp/app/src/main/res/layout/cart_details_activity.xml
  MobileApp/app/src/main/res/layout/fragment_cart.xml
  MobileApp/app/src/main/res/layout/item_list_cart.xml
  MobileApp/app/src/main/res/menu/cart_remove.xml
  MobileApp/app/src/main/res/menu/menu_cart.xml
  MobileApp/app/src/main/res/menu/menu_main.xml
  MobileApp/app/src/main/res/values/strings.xml
  WebApp/yii-application/backend/modules/api/controllers/CartController.php
  WebApp/yii-application/backend/web/img/activity/2/BDXY3Ih8XhADZTKM.jpg
  WebApp/yii-application/backend/web/img/activity/2/BrmfyPNe61RZqhJS.jpg
  WebApp/yii-application/backend/web/img/activity/2/RKkYk5i4bAuyKg4Y.jpg
  WebApp/yii-application/backend/web/img/activity/2/YSK1iO4rCQiY8PWz.jpg
  WebApp/yii-application/backend/web/img/activity/2/jILk_o8lkagycDXR.jpg
  WebApp/yii-application/backend/web/img/activity/3/CsyUFl49b7WISizS.jpg
  WebApp/yii-application/backend/web/img/activity/3/NtgkN4GX3xTl_erN.jpg
  WebApp/yii-application/backend/web/img/activity/3/SryE67L-I3mz1U0h.jpg
  WebApp/yii-application/backend/web/img/activity/3/hd2UBNjh0xf-_tis.jpg
  WebApp/yii-application/backend/web/img/activity/3/sKU4K-SB6L2emHDf.jpg
  WebApp/yii-application/console/migrations/m241217_205533_seed_activity.php
  WebApp/yii-application/frontend/web/img/activity/2/BDXY3Ih8XhADZTKM.jpg
  WebApp/yii-application/frontend/web/img/activity/2/BrmfyPNe61RZqhJS.jpg
  WebApp/yii-application/frontend/web/img/activity/2/RKkYk5i4bAuyKg4Y.jpg
  WebApp/yii-application/frontend/web/img/activity/2/YSK1iO4rCQiY8PWz.jpg
  WebApp/yii-application/frontend/web/img/activity/2/jILk_o8lkagycDXR.jpg
  WebApp/yii-application/frontend/web/img/activity/3/CsyUFl49b7WISizS.jpg
  WebApp/yii-application/frontend/web/img/activity/3/NtgkN4GX3xTl_erN.jpg
  WebApp/yii-application/frontend/web/img/activity/3/SryE67L-I3mz1U0h.jpg
  WebApp/yii-application/frontend/web/img/activity/3/hd2UBNjh0xf-_tis.jpg
  WebApp/yii-application/frontend/web/img/activity/3/sKU4K-SB6L2emHDf.jpg
Labels: bug, enhancement, feature

#64 #69 - Crud Cart
  MobileApp/app/src/main/java/Model/Cart.java
  MobileApp/app/src/main/java/Model/WaypinpointDbHelper.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ActivityDetailsActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/Adapters/CartAdapter.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/CartActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/CartDetailsActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/CartFragment.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/Utilities.java
  MobileApp/app/src/main/res/layout/activity_cart.xml
  MobileApp/app/src/main/res/layout/cart_details_activity.xml
  MobileApp/app/src/main/res/values/strings.xml
Labels: bug, enhancement, feature

#66 #69 - Fixed ID Logic
  MobileApp/app/src/main/AndroidManifest.xml
  MobileApp/app/src/main/java/Model/Cart.java
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/Model/WaypinpointDbHelper.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/CartJsonParser.java
  MobileApp/app/src/main/res/layout/cart_details_activity.xml
  MobileApp/app/src/main/res/values/strings.xml
Labels: bug, enhancement

#67 #21 - Sales Salesperson
  WebApp/yii-application/backend/modules/api/controllers/CartController.php
  WebApp/yii-application/frontend/views/activity/index.php
  WebApp/yii-application/frontend/views/cart/index.php
  WebApp/yii-application/frontend/views/ticket/index.php
Labels: bug

#68 #25: Qr code scanning
  MobileApp/app/build.gradle.kts
  MobileApp/app/src/main/AndroidManifest.xml
  MobileApp/app/src/main/java/Model/CartDbHelper.java
  MobileApp/app/src/main/java/Model/Review.java
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/Model/User.java
  MobileApp/app/src/main/java/Model/UserDbHelper.java
  MobileApp/app/src/main/java/Model/WaypinpointDbHelper.java
  MobileApp/app/src/main/java/adaptors/ReviewListAdapter.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ActivityDetailsActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ListReviewsFragment.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MainActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MenuMainActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/QRCodeScannerActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/RegisterActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ReviewDetailsActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/ReviewJsonParser.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/UserJsonParser.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/Utilities.java
  MobileApp/app/src/main/res/layout/activity_main.xml
  MobileApp/app/src/main/res/layout/activity_qrcode_scanner.xml
  MobileApp/app/src/main/res/layout/item_list_review.xml
  MobileApp/app/src/main/res/values/strings.xml
  MobileApp/gradle/libs.versions.toml
  WebApp/composer.json
  WebApp/composer.lock
  WebApp/vendor/autoload.php
  WebApp/vendor/bluerhinos/phpmqtt/.gitignore
  WebApp/vendor/bluerhinos/phpmqtt/LICENSE
  WebApp/vendor/bluerhinos/phpmqtt/README.md
  WebApp/vendor/bluerhinos/phpmqtt/composer.json
  WebApp/vendor/bluerhinos/phpmqtt/examples/README.md
  WebApp/vendor/bluerhinos/phpmqtt/examples/publish.php
  WebApp/vendor/bluerhinos/phpmqtt/examples/subscribe.php
  WebApp/vendor/bluerhinos/phpmqtt/examples/subscribeAndWaitForMessage.php
  WebApp/vendor/bluerhinos/phpmqtt/phpMQTT.php
  WebApp/vendor/composer/ClassLoader.php
  WebApp/vendor/composer/InstalledVersions.php
  WebApp/vendor/composer/LICENSE
  WebApp/vendor/composer/autoload_classmap.php
  WebApp/vendor/composer/autoload_namespaces.php
  WebApp/vendor/composer/autoload_psr4.php
  WebApp/vendor/composer/autoload_real.php
  WebApp/vendor/composer/autoload_static.php
  WebApp/vendor/composer/installed.json
  WebApp/vendor/composer/installed.php
  WebApp/vendor/composer/platform_check.php
  WebApp/yii-application/backend/config/main.php
  WebApp/yii-application/backend/modules/api/controllers/ReviewController.php
  WebApp/yii-application/backend/modules/api/controllers/UserController.php
  WebApp/yii-application/mosquitto/phpMQTT.php
Labels: enhancement, feature, API

#69 #30: real time photos
  MobileApp/app/src/main/java/Listeners/PhotosListener.java
  MobileApp/app/src/main/java/Model/Activity.java
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/adaptors/PhotoListAdapter.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ActivityDetailsActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ActivityPhotosFragment.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ApiHostnameSetupActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/ListReviewsFragment.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MenuMainActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MyProfileActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/ImageSender.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/utils/Utilities.java
  MobileApp/app/src/main/res/layout/activity_details.xml
  MobileApp/app/src/main/res/layout/fragment_activity_photos.xml
  MobileApp/app/src/main/res/layout/item_photo_list.xml
  MobileApp/app/src/main/res/values/strings.xml
  WebApp/yii-application/backend/config/main.php
  WebApp/yii-application/backend/modules/api/controllers/ActivityController.php
Labels: bug, enhancement, feature, API

#70 #30: Real time photos
  WebApp/yii-application/backend/config/main.php
  WebApp/yii-application/backend/modules/api/controllers/ActivityController.php
  WebApp/yii-application/backend/modules/api/controllers/UserController.php
Labels: API

#71 #30: Real time photos
  MobileApp/app/src/main/java/Model/SingletonManager.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/MenuMainActivity.java
  MobileApp/app/src/main/java/pt/ipleiria/estg/dei/waypinpoint/RegisterActivity.java
  MobileApp/app/src/main/res/layout/nav_header_main.xml
  MobileApp/app/src/main/res/values/strings.xml
  WebApp/yii-application/backend/controllers/SiteController.php
  WebApp/yii-application/backend/models/Localsellpoint.php
  WebApp/yii-application/backend/views/layouts/sidebar.php
  WebApp/yii-application/backend/views/site/index.php
  WebApp/yii-application/common/config/main.php
  WebApp/yii-application/common/models/Activity.php
  WebApp/yii-application/common/models/Booking.php
  WebApp/yii-application/common/models/Category.php
  WebApp/yii-application/common/models/Invoice.php
  WebApp/yii-application/common/models/Sale.php
  WebApp/yii-application/common/models/User.php
  WebApp/yii-application/common/models/UserExtra.php
  WebApp/yii-application/frontend/controllers/CartController.php
  WebApp/yii-application/frontend/views/layouts/main.php
  WebApp/yii-application/frontend/web/css/bootstrap.css
Labels: enhancement, feature

#75 #0000: fix bad merge
  WebApp/codeception.yml
  WebApp/composer.json
  WebApp/composer.lock
  WebApp/tests/_data/.gitkeep
  WebApp/tests/_output/.gitkeep
  WebApp/tests/_support/AcceptanceTester.php
  WebApp/tests/_support/FunctionalTester.php
  WebApp/tests/_support/Helper/Acceptance.php
  WebApp/tests/_support/Helper/Functional.php
  WebApp/tests/_support/Helper/Unit.php
  WebApp/tests/_support/UnitTester.php
  WebApp/tests/_support/_generated/FunctionalTesterActions.php
  WebApp/tests/_support/_generated/UnitTesterActions.php
  WebApp/tests/acceptance.suite.yml
  WebApp/tests/functional.suite.yml
  WebApp/tests/unit.suite.yml
  WebApp/vendor/autoload.php
  WebApp/vendor/bluerhinos/phpmqtt/.gitignore
  WebApp/vendor/bluerhinos/phpmqtt/LICENSE
  WebApp/vendor/bluerhinos/phpmqtt/README.md
  WebApp/vendor/bluerhinos/phpmqtt/composer.json
  WebApp/vendor/bluerhinos/phpmqtt/examples/README.md
  WebApp/vendor/bluerhinos/phpmqtt/examples/publish.php
  WebApp/vendor/bluerhinos/phpmqtt/examples/subscribe.php
  WebApp/vendor/bluerhinos/phpmqtt/examples/subscribeAndWaitForMessage.php
  WebApp/vendor/bluerhinos/phpmqtt/phpMQTT.php
  WebApp/vendor/composer/ClassLoader.php
  WebApp/vendor/composer/InstalledVersions.php
  WebApp/vendor/composer/LICENSE
  WebApp/vendor/composer/autoload_classmap.php
  WebApp/vendor/composer/autoload_namespaces.php
  WebApp/vendor/composer/autoload_psr4.php
  WebApp/vendor/composer/autoload_real.php
  WebApp/vendor/composer/autoload_static.php
  WebApp/vendor/composer/installed.json
  WebApp/vendor/composer/installed.php
  WebApp/vendor/composer/platform_check.php
  WebApp/yii-application/backend/modules/api/controllers/ActivityController.php
  WebApp/yii-application/backend/modules/api/controllers/CartController.php
  WebApp/yii-application/backend/modules/api/controllers/ReviewController.php
  WebApp/yii-application/common/config/main.php
  WebApp/yii-application/composer.json
  WebApp/yii-application/composer.lock
  WebApp/yii-application/console/controllers/RbacController.php
  WebApp/yii-application/frontend/controllers/CartController.php
  WebApp/yii-application/frontend/views/cart/index.php
  WebApp/yii-application/frontend/views/cart/receipt.php
Labels: enhancement
